button {
  // width: 100%;
  font-family: $body-fonts;
  background-color: transparent;
  padding: 9px 16px;
  color: $text;
  border: none;
  box-shadow: -4px 0 0 0 $text, 4px 0 0 0 $text, 0 -4px 0 0 $text, 0 4px 0 0 $text;
}

.button-inner {
  border-right: 4px solid #ABAFB0;
  border-bottom: 4px solid #ABAFB0;
}

button:active {
  background-color: $blue;
  .button-inner {
    border-right: 4px solid red;
  border-bottom: 4px solid red;
  }
}

.google-button {
  // box-shadow: -4px 0 0 0 $text, 4px 0 0 0 $text, 0 -4px 0 0 $text, 0 4px 0 0 $text;
}

.google-login {
  height: 46px;
  box-shadow: -4px 0 0 0 $text, 4px 0 0 0 $text, 0 -4px 0 0 $text, 0 4px 0 0 $text;
  margin: 15px;
}
