// variables for our colour scheme
// just use the variable name in other scss sheets instead of a hex code

$navbar: #AAB3B2;
$text: #373536;
$pink: #E8C2C1;
$blue: #ABAFB0;
$brown: #C7BDA3;
$base: #F4EBE2;


body {
  color: $text;
  background-color: $base;
}
