// imported fonts

@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

// importing custom fonts
@font-face {
  font-family: 'PixeloidSans-mLxMm';
  src: url('PixeloidSans-mLxMm.ttf');
}

@font-face {
  font-family: 'PixeloidSansBold-PKnYd';
  src: url('PixeloidSansBold-PKnYd.ttf');
}

// defining fonts for body / header

$body-fonts: "PixeloidSans-mLxMm", "Helvetica", "sans-serif";
$bold-fonts: "PixeloidSansBold-PKnYd", "Helvetica", "sans-serif";
$header-fonts: "Silkscreen", "Helvetica", "sans-serif";

// applied to all body

body {
  font-family: $body-fonts;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-fonts;
  font-weight: 400;
}
