<div class="chat-container button-inner" data-controller="conversation">

<%# removed chat-section class %>
  <div class="chat-top" data-conversation-target="response">
  </div>

  <div class="chat-divider"></div>

  <div class="chat-bottom">
    <%= form_with html: {class: "mb-2", id: "chat-form", data: { action: "conversation#generateResponse" }}  do |f| %>
      <%= f.text_field :message, placeholder: "type here to start!", data: { conversation_target: "prompt" }, id: "chat-input" %>
      <div style="display:none">
        <%= f.file_field :image, id: 'fileInput', data: { action:"change->conversation#upload" }, accept: "image/*" %>
      </div>
      <label for="fileInput" class="custom-file-upload">
      <%= image_tag 'pixelated-upload.png', alt: "Upload Image", width: '45', height: '45'  %>
      </label>
    <% end %>
    <div class="chat-buttons-div">
      <button class="chat-buttons button-inner" data-action="click->conversation#saveExpense">save expense</button>
      <button class="chat-buttons button-inner" data-action="click->conversation#resetChat">reset chat</button>
    </div>
  </div>
</div>
