<nav>
  <div>
    <%= link_to image_tag("analysis.png" , class:"nav-icon"), analysis_path %>
  </div>
  <div>
    <%#= link_to "2", root_path %>
    <%= link_to image_tag("app-avatar.png", class:"nav-icon app-avatar"), root_path %>
  </div>
  <div>
    <%= link_to image_tag("exp-index.png", class:"nav-icon"), expenses_path %>
  </div>
</nav>
