:root {
  --pixel-size: 6;
}

.pixelart {
  image-rendering: pixelated;
}

.character {
  width: calc(70px * var(--pixel-size));
  height: calc(60px * var(--pixel-size));
  overflow: hidden;
  position: relative;
  top: -40px;

}

.character_spritesheet {
  animation: moveSpritesheet 2s steps(6) infinite;
  width: calc(420px * var(--pixel-size));
  position: absolute;
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px,0,0)
  }
  to {
    transform: translate3d(-100%,0,0);
  }
}
