.chat-container {
  width: 100%;
  height: 575px;
  box-shadow: -4px 0 0 0 $text, 4px 0 0 0 $text, 0 -4px 0 0 $text, 0 4px 0 0 $text;
  // might have to change according to chat codes
  // position: relative;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-top {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  gap: 35px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-bubble-user {
  width: 300px;
  // position: absolute;
  // top: 30px;
  // left: 70px;
  align-self: flex-end;
}

.chat-bubble-bot {
  width: 300px;
  align-self: start;
}

.chat-bubble-top {
  width: calc(100% - 4px);
  height: 4px;
  margin-left: 4px;
  background-color: $text;
  position: relative;
}

.chat-bubble-bottom {
  width: calc(100% - 4px);
  height: 4px;
  margin-left: 4px;
  background-color: $text;
  position: relative;
}

.chat-name-user {
  background-color: $base;
  position: absolute;
  top: -7px;
  right: 10px;
  padding: 0 15px;
  margin: 0;
}

.chat-name-bot {
  background-color: $base;
  position: absolute;
  top: -7px;
  left: 10px;
  padding: 0 15px;
  margin: 0;
}

.chat-bubble-mid {
  width: calc(100% + 4px);
  height: 4px;
  border-left: 4px solid $text;
  border-right: 4px solid $text;
}

.chat-content {
  width: calc(100% + 4px);
  border-left: 4px solid $text;
  border-right: 4px solid $text;
  text-align: left;
  padding: 15px 0;
}

.chat-content > p {
  margin: 0;
  padding: 0 10px;
}

.chat-divider{
  background-color: $text;
  height: 4px;
  width: calc(100% - 40px);
  margin-left: 20px;
}

.chat-bottom {
  width: 100%;
  padding: 20px;
}

#chat-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#chat-input {
  background-color: transparent;
  font-family: $body-fonts;
  border: none;
  height: 50px;
  margin: 0;
  font-size: 16px;
  width: 250px;
  text-align: left;
  padding-left: 20px;
  outline: none;
}

.chat-buttons-div {
  display: flex;
  gap: 22px;
  justify-content: center;
  margin-top: 10px;
}

.chat-buttons {
  font-size: x-small;

}

.loading-indicator {
  font-size: 16px;
  font-weight: bold;
  color: #888;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}
