body {
  height: 100vh;
  height: 100svh;
  min-width: 320px;
  max-width: 425px;
  width: auto;
  margin: 0 auto;
  overflow-y: hidden;
}

main {
  border: 12px solid $text;
  border-radius: 24px;
  margin: 8px;
  height: 90%;
  overflow-y: auto;
}
