#header {
  height: 8%;
  background-color: $navbar;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-family: $bold-fonts;
    margin-left: 15px;
  }
}

#head-style {
  width: 25%;
  margin-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-style {
  height: 24px;
  width: 24px;
  // letter-spacing: 0px;
  border-radius: 8px;
  background-color: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  // letter-spacing: -4px;
  font-size: 1.5em;
}

.log-out {
  background-color: $pink;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
