.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 80px;
}

.landing-page:-webkit-scrollbar {
  display: none;
}

.log-in-button {
  width: 280px;
  font-family: $bold-fonts;
  height: 56px;
  font-size: 20px;
  // margin-bottom: 20px;
}

.log-in-button > a {
  text-decoration: none;
  color: $text;
}
