nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8%;
  width: 100%;
  background-color: $navbar;
  // position: fixed;
  // left: 0;
  // bottom: 0;
}

.nav-icon {
  height: 40px;
  width: 40px;
  transition: transform 0.3s ease;
}

.nav-icon:active {
  transform: scale(1.2);
}
